/* Change Root Colors */

:root {
    --custom-primary: #5d63ff !important;
    --custom-link-color:  #357DED !important;
	--main-font: 'Poppins', sans-serif;
	--main-body-bg: rgb(0,0,0);
    --secondary-bg-tone: #357DED !important;
	--custom-purple: #9150f7;
	--main-login-bg: #ffffff;
    --login-logo: url('https://firebasestorage.googleapis.com/v0/b/highlevel-backend.appspot.com/o/location%2FYnfX5FD1xiqzPp9m5Wxk%2Fimages%2F0fabccac-92a9-48b9-8dfd-e174d8e3a8c1.jpeg?alt=media');
	--login-heading-color: #357DED !important;
	--login-input-color: #333333 !important;
	--login-input-border: #dbdbdb;
	--login-error-color: #357DED !important;
	--login-forgot-pass-color: #357DED !important;
	--login-button-bg: #357DED !important;
	--login-button-color: #ffffff;
	--login-button-hover-bg: #2f2f2f;
	--login-button-hover-color: #ffffff;
	--login-foot-note-color: #333333;
	--login-foot-note-link-color: #357DED;
    --tab-buttons-active: #357DED;
    --tab-buttons-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%),
        0 2px 10px 0 rgb(0 0 0 / 10%) !important;
    --tab-buttons-radius: 5px;
    --tab-buttons-background: #357ded24;
	--settings-btn-bg: #8080801a;
	--settings-btn-bg-active: #2f2f2f;
	--purple-btn-bg: #9150f714;
	--text-btn-sm: 0.9em;
	--card-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	--bg-color-main: white;
	--green-button: linear-gradient(90deg, #53ef8f, #6ef1a0);
	--green-button-text: #0a3458;
	--green-button-hover: linear-gradient(90deg, #53efd6, #6ef1e0);
	--custom-green: #53ef8f;
	--new-avatar: #8766ff;
	--custom-pink: rgb(246 132 233);
}

/* Login Changes New */

.hl_login--header {
	display:none;
}

.hl_login--body .card .card-body .btn.btn-blue.btn-block {
    background-color: var(--login-button-bg);
    font-family: var(--main-font) !important;
    color: #ffffff !important;
    font-size: 20px !important;
    text-transform: uppercase;
    background-color: #357DED !important;
}

body .hl_login--body * {
    font-family: var(--main-font);
}


.hl_login--header .container-fluid a img {
    display: none;
}
.hl_login--body {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 50px 15px 50px 15px;
    background: #252525 url("https://images.pexels.com/photos/6501751/pexels-photo-6501751.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") repeat !important;
    min-height: 100vh;
}

.hl_login button.hl-btn {
    background: var(--custom-primary);
}

.hl_login--body .foot-note {
    margin-top: 0px !important;
}

.hl_login--body .login-card-heading {
    margin-bottom: 20px !important;
}

.hl_login--body .card .login-card-heading h2.heading2:before {
	content: '';
    background-image: var(--login-logo);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: block;
    margin: 0 auto 10%;
    left: 0;
    right: 0;
    width: 80%;
    height: 130px;
}

/* Login Form */

.hl_login--body .heading2 {
    font-size:20px !important;
    font-weight: normal !IMPORTANT;
}
.hl_login--body .card .card-body label {
    display: none;
}
.hl_login--body .card .card-body input {
    border: 1px solid var(--login-input-border) !important;
    border-radius: 3px !important;
    font-size: 14px;
    line-height: 20px;
    color: var(--login-input-color) !important;
}
.hl_login--body .card .card-body input::placeholder {
	color: var(--login-input-color) !important;
	opacity: 0.4;
}
.hl_login--body .card .card-body input:-ms-input-placeholder {
	color: var(--login-input-color) !important;
}
.hl_login--body .card .card-body input::-ms-input-placeholder {
	color: var(--login-input-color) !important;
}

.hl_login--body .card .card-body .error {
    color: var(--login-error-color);
}
.hl_login--body .card .card-body .forgot-password {
    color: var(--login-forgot-pass-color);
    font-size: 14px;
    line-height: 20px;
}
.hl_login--body .card .card-body .btn.btn-blue.btn-block {
    background-color: var(--login-button-bg);
	font-family: var(--main-font) !important;
	color: var(--login-button-color);
    font-size: 16px;
    text-transform: uppercase;
}
.hl_login--body .card .card-body .btn.btn-blue.btn-block:hover {
	background-color: var(--login-button-hover-bg) !important;
	color: var(--login-button-hover-color) !important;
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
	box-shadow: 0 8px 5px -5px rgba(0,0,0,.25);
	-webkit-transition: .2s;
	transition: .2s;
}
.hl_login--body .card .card-body .foot-note {
    font-size: 14px;
    color: var(--login-foot-note-color);
}
.hl_login--body .card .card-body .foot-note a {
    color: var(--login-foot-note-link-color);
}

.hl_login--body .card::before {
    width: 180px;
    height: 160px;
    top: -130px;
}

.bg-gray-50 {
    background-color: transparent;
}

.px-5 {
    background-color: #0000 !important;
}

.bg-gray-50 {
    background-color: #0000 !important;
}

/* End Login */

/* Form Fields */

.bootstrap-select>.btn.dropdown-toggle {
border: 1px solid rgb(0 0 0 / 20%) !im  portant;
}

.form-control {
    font-family: Poppins;
    font-size: 14px;
    background: #fafafa !important;
    border: 1px solid rgb(0 0 0 / 20%) !important;
    box-shadow: 0 0px 1px rgb(0 0 0 / 41%), 0 0 4px rgb(0 0 0 / 5%) inset !important;
    border-radius: .3125rem !important;
}

/* End Form Fields */

/* Dashboard */

#dashboard .hl_tasks-list button.dropdown-toggle {
    background: transparent !important;
}

/* Messages and Conversations */

#date-label, span.btn.btn-light2.btn-xs.message-group-date-indicator.top-date-sticky {
    border: 1px solid #979797b5;
}

.message-body--conversation .message-input-wrap {
    padding-top: 20px !important;
    bottom: 71px !important;
    box-shadow: rgb(0 0 0 / 12%) 0px -10px 18px, rgb(0 0 0 / 9%) 0px 6px 6px !important;
    border-radius: 6px !important;
}

.hl_conversations--message-body .message-box .btn-blue:hover {
    background-color: #000 !important;
}

/** Message Bubble - User **/
.messages-single.--own-message .message-bubble {
    background-color: #208bf9 !important;
    color: #ffffff !important;
}

.messages-single.--own-message .message-bubble::before {
    border-color: #208bf9 transparent transparent transparent !important;
}

/* Message Bubble - Customer */
.messages-single .message-bubble {
    font-size: 14px !important;
    padding: 15px;
    line-height: 155% !important;
    background-color: #e43a42 !important;
    color: #ffffff !important;
}

.messages-single .message-bubble:before {
    border-color: transparent #e43a42 transparent transparent;
}

.messages-list--item.active:before {
    background: var(--custom-pink) !important;
    border: var(--custom-pink) !important;
	box-shadow: 0 0 0 0 rgba(246,132,233,1);
    transform: scale(1);
    animation: pulse-notifications-convo 2s infinite;
    width: 10px !important;
    height: 10px !important;
}

@keyframes pulse-notifications-convo {
    0% {
        transform: scale(0.95);
        box-shadow: rgba(246,132,233,0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(246,132,233, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(246,132,233, 0);
    }
}

.avatar_img:first-child {
    background: var(--new-avatar) !important;
    color: white !important;
    border: 3px solid #ffffff !important;
    box-shadow: 0px 0px 0px 1px #0000001f !important;
}

.message-header-actions .btn.btn-light {
    margin-right: 8px !important;
    height: 30px;
}

/* GMB Messaging Preview */
.gmb-setting .hl_sms-preview-body .sms-preview-body-block .message-wrap .msg-content .message-bubble p[data-v-28962692] {
    color: #ffffff !important;
}

/* Top header background */

.hl_header {
border-bottom: 0px solid #000 !important;
}

.hl_header .dropdown.bootstrap-select.hl_header--picker.fit-width.show>button {
    background: #fff0 !important;
    color: #fff !important;
}

/* Buttons */

.btn-success {
    background-color: #357DED !important;
    border-color: #357DED !important;
}

.btn.btn-green-lt {
    border: 2px solid;
}

body[data-theme=default-dark-v1] .btn.btn-primary {
    background-color: #357DED;
    border-color: #357DED
    color: var(--button-icon-color);
}

.bootstrap-select>.btn.dropdown-toggle:after {
    color: #ffffff;
    padding-left: 0.5em;
}

.bootstrap-select>.btn.dropdown-toggle {
    background: var(--tab-buttons-background);
    border: 1px solid rgb(0 0 0 / 20%) !important;
    padding-right: 1.5em;
}

.bootstrap-select>.btn.dropdown-toggle.bs-placeholder .filter-option {
    color: #ffffff;
}

.call-dropDown .filter-option-inner-inner {
    /* margin-top: -3px; */
    font-size: 13px;
}

.call-dropDown .dropdown button.btn.dropdown-toggle {
	background: var(--custom-primary);
}


.hl_settings--main .card-body .form-group .bootstrap-select>.dropdown-toggle.btn-light:hover {
    background: #fff !important;
}

.hl_settings--main .card-body .form-group .bootstrap-select>.dropdown-toggle.btn-light .filter-option-inner-inner {
	color: var(--text-gray-800);
}

.hl_settings--main .card-body .form-group .bootstrap-select>.dropdown-toggle.btn-light .filter-option-inner-inner:hover {
	color: var(--tab-buttons-active) !important;
}

/* Calendar Settings */
.hl_settings--body.calendar-settings button.btn.dropdown-toggle.btn-light:after {
    color: var(--text-gray-800)
}

.hl_settings--body.calendar-settings .filter-option-inner-inner, .hl_settings--body.calendar-settings .filter-option:after {
    color: var(--text-gray-800) !important;
}

.hl_settings-body.calendar-settings button.btn.dropdown-toggle.btn-light {
    border: none;
}

.hl_settings--body.calendar-settings .step-2 .form-group .bootstrap-select> button.btn.dropdown-toggle.btn-light {
    border: none !important;
}

.hl_header .hl_header--picker>.btn.dropdown-toggle:after {
    color: #ffffff !important;
}

.hl_header--picker>.btn.dropdown-toggle .filter-option {
	color: #ffffff !important;
    font-weight: 500;
}

.hl_header .filter-option-inner {
    font-family: Poppins !important;
    font-size: 16px !important;
    color: #fff !important;
    font-weight: bold !important;
}

/* Contact Info Sticky Footer - Save & Cancel Buttons */

@media (min-width: 1024px) {
 .form-footer.save {
        left: 14rem
    }
}


.form-footer.save {
    position: fixed;
    bottom: 0px;
    left: 14rem;
    width: 25%;
    display: flex;
    padding: 10px;
    z-index: 1000;
    margin: auto;
    justify-content: space-between;
    background: linear-gradient(-45deg,#6a52ee,#6a5abf,#6058d3,#7541f3);
    /* align-items: flex-end; */
}

.form-footer.save.space-x-2 {
    display: flex;
    position: relative;
    width: 100%;
    left:auto;
}

/* Cancel Button on Footer Save */
.hl_contact-details-left button.hl-btn.inline-flex.items-center.px-4.py-2.border.border-gray-300.shadow-sm.text-sm.font-medium.rounded.text-gray-700.hover\:bg-gray-50.focus\:outline-none.focus\:ring-2.focus\:ring-offset-2.focus\:ring-curious-blue-500, .hl_contact-details-right button.hl-btn.inline-flex.items-center.px-4.py-2.border.border-gray-300.shadow-sm.text-sm.font-medium.rounded.text-gray-700.hover\:bg-gray-50.focus\:outline-none.focus\:ring-2.focus\:ring-offset-2.focus\:ring-curious-blue-500 {
    color: #ded1ff;
	border: 1px solid #ded1ff;
}

.hl_contact-details-left button.hl-btn.inline-flex.items-center.px-4.py-2.border.border-gray-300.shadow-sm.text-sm.font-medium.rounded.text-gray-700.hover\:bg-gray-50.focus\:outline-none.focus\:ring-2.focus\:ring-offset-2.focus\:ring-curious-blue-500:hover, .hl_contact-details-right button.hl-btn.inline-flex.items-center.px-4.py-2.border.border-gray-300.shadow-sm.text-sm.font-medium.rounded.text-gray-700.hover\:bg-gray-50.focus\:outline-none.focus\:ring-2.focus\:ring-offset-2.focus\:ring-curious-blue-500:hover{
    color: gray;
}

/* Send and Save Buttons */

.bg-apple-500 {
    --tw-bg-opacity: 1;
    background: var(--green-button) !important;
}

.hover\:bg-apple-600:hover {
    --tw-bg-opacity: 1;
    background: var(--green-button-hover) !important;
}

.bg-apple-600 {
    --tw-bg-opacity: 1;
    background: var(--green-button-hover) !important;
}

/* Send button */
button.hl-btn.inline-flex.items-center.px-4.py-2.border.border-transparent.text-sm.font-medium.rounded.shadow-sm.text-white.bg-apple-500.hover\:bg-apple-600.focus\:outline-none.focus\:ring-2.focus\:ring-offset-2.focus\:ring-apple-500 {
    color: var(--green-button-text) !important;
}

/* Send button SVG Icon */
#sms > div > div:nth-child(5) > div > div > button > svg > path{fill:#0b99c5;}

#instagram-tab, a#email-tab, a#facebook-tab, a#review-tab, a#sms-tab {
    padding: 2px 5px !important;
    border-radius: var(--tab-buttons-radius);
    text-transform: uppercase;
    font-size: 12px !important;
	background: var(--purple-btn-bg);
	color: var(--custom-purple);
}


.hl_wrapper--inner .nav.nav-tabs .nav-item a#sms-tab.active, .hl_wrapper--inner .nav.nav-tabs .nav-item a#email-tab.active{
	border: 1px solid var(--custom-purple) !important;
	background: var(--purple-btn-bg) !important;
	color: var(--custom-purple) !important;
}

.hl_conversations--message-body .message-box .use-template .icon {
    font-size: 25px;
}

.icon-request {
    display: inline-block!important;
    width: 25px;
    height: 25px;
    background: url(https://static.leadconnectorhq.com/pmd/img/request_icon.svg) no-repeat 100%;
    background-size: 25px 25px;
}

.hl_conversations--message-body .message-box .use-template {
    display: inline-block;
    font-weight: 500;
    color: var(--custom-link-color);
    opacity: 0.6;
    vertical-align: text-top;
}

.button-holder {
    margin-top: 23px;
}

/* Task Calendar Update Contact screen - add color */
input#undefined-input {
    border: 1px solid rgb(24,139,246) !important;
    color: rgb(24,139,246);
}

/* Header Dropdown End */



/* Top header account button padding */

button.btn.dropdown-toggle.btn-light {
    padding: 10px !important;
    border-radius: 5px;
    margin-bottom: 5px;
}

button.btn.dropdown-toggle.btn-light

/* Header Buttons Icons */

.hl_error .close-icon {
    top: 10px !important;
    font-size: 27px !important;
}

body[data-theme=default-dark-v1] .btn.btn-yellow:hover, .btn.btn-green-dark:hover {
    background-color: hsl(0deg 0% 0% / 0%) !important;
    border-color: #000000 !important;
    color: #ED3548 !important;
    box-shadow: 0px 0px 6px #ffffff9e;
}

/*Phone Button Top Nav */
.hl_header--dropdown.hl_header--phone.dropdown.--no-caret {
    display: flex;
}

.nav-tabs[data-v-3a4e4396]{
	background-color: #f6f6f6 !important;
	border: 1px solid #c8c8c8 !important;
}

.dropdown-menu-right.dialer-center .nav.nav-tabs .nav-item{
	margin-right: 0;
	margin-bottom: 0;
}

.dropdown-menu-right.dialer-center .nav-tabs .nav-item a[data-v-3a4e4396]{
	color: #141414 !important;
}

.dialerView .input-group[data-v-42ab0608] {
    margin-bottom: 10px;
    border: 1px solid #a4a4a4 !important;
    border-radius: 5px;
    height: 71px;
}

/* ADD NEW Button for Contact Details Right Tabs */
	#contact-details > div > div.hl_contact-details-right > div > ul > li:nth-child(5) a{
	font-size: var(--text-btn-sm);
	padding: 2px 3px;
	color: var(--custom-purple) !important;
	border-radius: 5px;
	background: #9150f714;

}

#contact-details > div > div.hl_contact-details-right > div > ul > li:nth-child(5) a > i.fa-plus{
	font-size: var(--text-btn-sm) !important;
}

.hl_contact-details-right-tabs>ul>li:last-child {
    margin-right: 0px !important;
    white-space: nowrap;
}

.hl_contact-details-left-tabs>ul>li, .hl_contact-details-right-tabs>ul>li {
    margin-right: 8px!important;
    flex: 1;
    text-align: center;
}

.hl_header i.fas.fa-phone:hover {
    background: #00000000 !important;
}

.hl_header--phone .dropdown-menu .hl_header--phone-footer .form-group .fa-phone {
    color: #535353 !important;

}

#app>div:nth-child(1)>div:nth-child(2)>header>div>div:nth-child(4)>div.hl_header--dropdown.hl_header--phone.dropdown.--no-caret>div>div.caller-id>div:nth-child(2)>div>button>div>div>div>span {
    color: #535353 !important;
}

#hl_smartlists-main .more-select-left>.btn.dropdown-toggle {
    color: #357DED !important;
    background: #ffffff !important;
    border: 1px solid #cacaca !important;
    padding-right: 1.5em;
}

.more-select-left>.btn.dropdown-toggle:before{
    color: #868686;
}

/* Dashboard Header Background*/

#dashboard .hl_dashboard--conversion-rate .card-header, #dashboard .hl_dashboard--matters-added .card-header, #dashboard .hl_dashboard--pipeline-value .card-header, #dashboard .hl_dashboard--sales-funnel .card-header {
    padding-right: 20px;
    background: #fff;
}

/* Dashboard Header font color */

.card-header h2, .card-header h3{
color:#2388e5 !important;
padding-right:5px;
}

/* Sidebar = Navbar */

.agency-logo-container .agency-logo {
	height: 75px !important;
}

.hl_settings--body .container-fluid {
    background-color: #00000000 !important;
    background: #00000000 !important;
}

.sidebar-v2-location .hl_settings--body {
    background: var(--bg-color-main) !important;
}

.sidebar-v2-location #sidebar-v2 .default-bg-color, .sidebar-v2-location #sidebar-v2.default-bg-color {
    color: white !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;

}

.sidebar-v2-location #sidebar-v2 .default-bg-color, .sidebar-v2-location #sidebar-v2.default-bg-color span.text-gray-300.uppercase.pr-3.default-bg-color {
	color: #e9deff !important;
	letter-spacing: normal;
}

/* Sidebar Nav & Settings Nav Links */
.sidebar-v2-location #sidebar-v2 .hl_nav-header nav a, .sidebar-v2-location #sidebar-v2 .hl_nav-header-without-footer nav a, .sidebar-v2-location #sidebar-v2 a#sb_settings {
    opacity: 0.9;
}

.sidebar-v2-location #sidebar-v2 .hl_nav-header nav a.active, .sidebar-v2-location #sidebar-v2 .hl_nav-header nav a:hover, .sidebar-v2-location #sidebar-v2 .hl_nav-header-without-footer nav a.active, .sidebar-v2-location #sidebar-v2 .hl_nav-header-without-footer nav a:hover, #sb_settings:hover {
    background: #4a566a;
	border-radius: 0;
	opacity: 1;
}

.sidebar-v2-location #sidebar-v2 #backButtonv2 {
    background: #4a566a;
    margin-left: 10px;
    border-radius: 5px;
}

/* .hl_navbar--toggle {
    width: 30px !important;
    height: 40px !important;
    top: 20px !important;
    border-bottom-left-radius: 35px !important;
    border-top-left-radius: 35px !important;
    right: 0px;
    box-shadow: inset 0px 0px 1px #00000054;
    background: #000;
    color: #E6E6FA !important;
}

.hl_navbar--toggle:hover {
 color: #fff !important;
}

.hl_navbar--links>li a .caret {
    font-size: 12px !important;
    top: 16px !important;
    right: 0px !important;
}

.hl_navbar.shrink .hl_navbar--button {
    font-size: 0!important;
    min-width: auto!important;
    height: 32px !IMPORTANT;
    width: 32px !important;
    padding-left: 0!important;
    padding-right: 0!important;
    position: relative;
    background: #ffffff1c !important;
    margin-top: 15px !important;
}


.hl_navbar--toggle.collapse {
    width: 32px !important;
    height: 40px !important;
    margin: 8px 38px !important;
    color: #ffffff !important;
    box-shadow: inset 1px 1px 1px #00000054;
    background: #dc46ffbd repeat !important;
    padding-left: 3px !important;
    transform: translateY(50px);
}

.hl_navbar--toggle.collapse:hover {
    color: #000 !important;
}

.hl_navbar--links>li a i {
    opacity: 1 !important;
    -webkit-transform: translateY(2px) !important;
    transform: translateY(2px) !important;
    font-size: 16px !important;
    width: 20px;
}

.hl_navbar--links>li a:hover {
    color: #fff !important;
    font-weight: bold !important;
}

.hl_navbar--links>li.active>a {
    color: #ffffff !important;
    background: linear-gradient(45deg, #7e35ed, #5d63ff)!important;
    font-weight: bold !important;
}

.hl_navbar--links>li a {
    color: #b5d9ff !important;
    line-height: 120% !important;
    height: 36px !important;
}

.hl_navbar--links>li .nav-marketing-links ul li a {
    color: #000000 !important;
}

.hl_navbar--links>li .nav-dropdown-links ul, .hl_navbar--links>li .nav-marketing-links ul {
    padding: 10px 30px !important;
}

.hl_navbar--links>li .nav-marketing-links ul {
    background-color: #ffffff !important;
}

.hl_navbar--links>li a i {
    margin-top: -6px;
}

/* Launchpad Align */
/* .hl_launchpad-progress-container[data-v-0e2f542a] {
    margin-left: 4px;
} */

/* Dashboard Link */
/* #nav-links #nav-dashboard > a > span {
    font-size:0;
    margin-left: 0px;
    margin-top: 7px !important;
}
#nav-links #nav-dashboard > a > span:after {
    font-size:14px;
    content:'Dashboard';
}
#nav-links #nav-dashboard i:before {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
    content:"\f2a1" !important;
} */

/* Opportunities -> Pipelines */
/* #nav-links #nav-appointment-request > a > span {
    font-size: 0 !important;
    margin-left: 0px;
    margin-top: 5px;
}

#nav-links #nav-appointment-request > a > span:after {
    font-size:14px;
    content:'Pipelines'!important;
}

#nav-links #nav-appointment-request i:before {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
    content:"\f00a" !important;
} */

/* Funnels and Websites */
/* #nav-links #nav-funnels-websites > a > span{
    font-size:0;
    margin-left: 0px;
    margin-top: 5px !important;
}
#nav-links #nav-funnels-websites > a > span:after {
    font-size:14px;
    content: 'Websites';
}
#nav-links > #nav-funnels-websites > a > i:first-child:before {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
    content:"\f5fc" !important;
} */

/* Conversations */
/* #nav-links #nav-conversations > a > span {
    font-size:0;
    margin-top: 4px !important;
}
#nav-links #nav-conversations > a > span:after {
    font-size:14px;
    content:'Conversations';
}
#nav-links #nav-conversations i:before {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
    content:"\f653" !important;
} */

/* Marketing */
/* #nav-links #nav-marketing > a > span{
    font-size:0;
    margin-top: 3px !important;
}
#nav-links #nav-marketing > a > span:after {
    font-size:14px;
    content:'Marketing';
}
#nav-links > #nav-marketing > a > i:first-child:before {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
    content:"\f674" !important;
}

/* Reporting */
/*
#nav-links #nav-reporting > a > span{
    font-size:0;
    margin-top: 3px !important;
}
#nav-links #nav-reporting > a > span:after {
    font-size:14px;
    content:'Reporting';
    margin-left: 0px;
}
#nav-links > #nav-reporting > a > i:first-child:before {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
    content:"\f200" !important;
} */

/* Scheduling */
/* #nav-links #nav-appointment > a > span{
    font-size:0;
    margin-top: 3px !important;
}
#nav-links #nav-appointment > a > span:after {
    font-size:14px;
    content:'Scheduling';
}
#nav-links > #nav-appointment > a > i:first-child:before {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
    content:"\f073" !important;
} */

/* Reputation */
/* #nav-links #nav-reviews > a > span{
    font-size:0;
    margin-top: 3px !important;
}
#nav-links #nav-reviews > a > span:after {
    font-size:14px;
    content:'Reputation';
}
#nav-links > #nav-reviews > a > i:first-child:before {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
    content:"\f118" !important;
} */

.hl_reviews--filter .bootstrap-select>.btn.dropdown-toggle.bs-placeholder .filter-option {
    color: #fff;
}

.hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle .filter-option .filter-option-inner .filter-option-inner-inner{
	color: var(--tab-buttons-active) !important;
}

#customers .hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle .filter-option .filter-option-inner .filter-option-inner-inner{
	color: white !important;
}

#customers .hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle::after{
	color: white !important;
}

/* Dropdown Menu Buttons */

.hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle .filter-option {
    color: var(--tab-buttons-active) !important;
    font-family: Poppins;
    text-transform: uppercase;
    font-size: 12px;
    padding-right: 2em;
}

.hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle {
    background: var(--tab-buttons-background);
	border: 1px solid var(--tab-buttons-active) !important;
}

.hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle::after {
    color: var(--tab-buttons-active) !important;
}

#colViewButton > .filter-option > .filter-option-inner, #colViewButton{
	margin-bottom:0;
	color: var(--tab-buttons-active);
}

#smartlists > .hl_controls.hl_smartlists--controls > .hl_controls--right #hl_smartlists--filter-btn {
    border: 1px solid var(--tab-buttons-active) !important;
    color: var(--tab-buttons-active) !important;
	background: var(--tab-buttons-background) !important;
}

.hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle .filter-option .hint-icon {
	margin-right: 3px;
	color: var(--tab-buttons-active) !important;
}

/* Contacts */



/* #nav-links #nav-customers > a > span{
    font-size:0;
    margin-top: 6px !important;
}
#nav-links #nav-customers > a > span:after {
    font-size:14px;
    content:'Contacts';
}
#nav-links > #nav-customers > a > i:first-child:before {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
    content:"\f0c0" !important;
}
#nav-links #nav-customers > a > span {
    font-size: 0;
    margin-left: 0px;
} */


/* Triggers */
/* #nav-links #nav-triggers > a > span{
    font-size:0;
}
#nav-links #nav-triggers > a > span:after {
    font-size:14px;
    content:'Triggers';
}
#nav-links > #nav-triggers > a > i:first-child:before {
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900 !important;
    content:"\f126" !important
} */

/* Chat Widget */
#nav-links #nav-chat-widget > a > span{

}

/* Dropdowns and Datepicker */
.datepicker-container .datepicker-days .datepicker-day.between .datepicker-day-effect[data-v-7043ad7f] {
    background-color: #357ded !important;
}



/* Form & Surveys Column */
.table-header[data-v-43c8a2fe] {
    border-top: 3px solid #357ded !important;
}

.table-header .text-grey[data-v-43c8a2fe], .table-header .text-grey[data-v-43c8a2fe] {
    color: #357ded !important;
}

.table-header .text-primary[data-v-43c8a2fe] {
    color: #357ded !important;
}

/* Reporting Filters */

.hl_analytics--filters {
    background-color: #f2f2f2 !important;
}

.report-type>.form-group .bootstrap-select>.btn.dropdown-toggle {
    background: var(--custom-primary);
}

.hidden.group-hover\:block.origin-top-right.absolute.right-0.mt-2.w-auto.rounded-md.shadow-lg.py-1.bg-white.ring-1.ring-black.ring-opacity-5.focus\:outline-none.z-40 {
    /* border-radius: 4px; */
    margin-top: 1px !important;
    background: #fff !important;
}

.hl_sms-preview-body .message-bubble {
    background-color: #357ded !important;
}

/* Opportunities Page */

.avatar.--sm .avatar_img>img {
    max-width: -webkit-fill-available;
    max-height: none;
}

.zillowTitle{
    font-size:10px;
    text-transform: uppercase;
    font-weight: bold;
}

.hl_opportunities-item .card-body {
padding: 5px;
line-height: 1.0;
font-size: 12px;
}

.hl_opportunities-item {
    border-top: 3px solid #357ded !important;
    box-shadow: 0 1px 2px rgb(0 0 0 / 33%), 0 0 9px rgb(0 0 0 / 11%) inset;
    margin: 8px !important;
    padding: 1px !important;
}

.hl_opportunities-item .card-info:not(:last-child) {
margin-bottom: 5px;
}

.hl_tasks--item-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
}

.hl_tasks--item-footer p strong {
    font-weight: 500;
    color: var(--custom-link-color) !important;
}

.hl_tasks--note {
    background: #fff;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #80808042;
    box-shadow: var(--card-shadow);
    word-wrap: break-word !important;
    overflow: hidden !important;
    /* white-space: nowrap !important; */
    text-overflow: ellipsis !important;
    font-size: 12px !important;
}

.hl_tasks .hl_tasks--appointment-detail {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 7px 60px 10px 10px;
    background: #fff;
    border: 1px solid #ebebeb;
}

.tab-content .card-header {
    padding: 0.75rem 1.25rem;
}

.nav.nav-tabs .nav-link {
    border-radius: 5px;
    padding: 4px 8px !important;
}

.hl_wrapper--inner .nav.nav-tabs .nav-link.active {
    border: solid 1px var(--custom-link-color) !important;
    background: var(--tab-buttons-background) !important;
    border-color: var(--tab-buttons-active) !important;
    color: var(--custom-link-color) !important;
    border-radius: var(--tab-buttons-radius);
    transition: 0.6s !important;
    font-weight: 500 !important;
}

.hl_wrapper--inner .nav.nav-tabs .nav-link {
    background: #357ded12;
    border-radius: var(--tab-buttons-radius);
	color: #357deddb;

}

.hl_contact-details-new--wrap .hl_contact-details-left .hl_contact-details-left-tabs .nav-tabs {
    padding-left: 10px;
    padding-right: 4px !important;
    margin-left: 2px !important;
    padding-top: 10px !important;
    justify-content: space-between;
}

.nav.nav-tabs .nav-item:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 7px;
}

.hl_conversations--messages-list .nav-tabs .nav-item {
    flex: 1;
    text-align: center;
}

.topmenu-navtitle {
    padding: 6px 8px !important;
}

.sidebar-v2-location .hl_header .topmenu-nav .topmenu-navitem.active {
    background: var(--settings-btn-bg) !important;
    border: 1px solid #0000008c !important;
    color: #2f2f2f !important;
    border-radius: var(--tab-buttons-radius) !important;
    font-weight: normal !important;
    transition: 0.6s !important;
	padding: 0 8px !important;
	font-size: var(--text-btn-sm);
}

.sidebar-v2-location .hl_header .topmenu-nav .topmenu-navitem, button.btn.btn-light.btn-sm {
	background: var(--settings-btn-bg) !important;
	border: none !important;
	color: #2f2f2f !important;
	border-radius: var(--tab-buttons-radius) !important;
	font-weight: normal !important;
	transition: 0.6s !important;
	padding: 0 8px !important;
	font-size: 0.9em;
}

/* End Opportunities */

/* Icons */

i.icon.icon-trash, .fa-trash-alt:before {
    color: #ef4d4da3;
}

.icon-edit {
    cursor: pointer;
    color: var(--custom-link-color);
}

.content-container {
    margin-bottom: 50px;
}

/* Styles From Custom CSS Section of Agency Dashboard */

.hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle .filter-option {
    color: #ffffff !important;
    font-family: Poppins;
    text-transform: uppercase;
    font-size: 12px;
	padding-right: 2em;
}

.hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle {
    background-color: var(--tab-buttons-background);
}

.bootstrap-select>.btn.dropdown-toggle .filter-option {
    color: #ffffff;
    top: 2px;
}

.hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle:after {
   color: #fff;
}

.bootstrap-select>.dropdown-menu .inner .dropdown-menu li.active a.active {
    background: #357ded !important;
    color: #fff !important;
}

#add-opportunities-modal .form-group .dropdown.bootstrap-select button.btn.dropdown-toggle.btn-light .filter-option .filter-option-inner .filter-option-inner-inner, #add-opportunities-modal .form-group .dropdown.bootstrap-select button.btn.dropdown-toggle.btn-light:after  {
    color: var(--settings-btn-bg-active);
}


/* Icons in Upper Right */
.btn.btn-green-dark {
    border: 2px solid #27ae60;
    color: var(--button-icon-color);
    background-color: transparent;
}

body[data-theme=default-dark-v1] .btn.btn-yellow {
   border: 2px solid var(--custom-yellow-border-color);
   color: var(--button-icon-color);
   background-color: transparent;
}

#sidebar-v2 > div.flex.flex-col.h-screen > div > div.flex.items-center.justify-center.flex-shrink-0.md\:px-1.mb-3.px-3 > img
.hl_navbar--logo img {
    max-width: 50%;
    height: 80px
}
